{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %} <div class="col s12 m7">
        <h2 class="header">Post</h2>
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>post1.</p>
            </div>
            <div class="card-action">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m7">
        <h2 class="header">Post</h2>
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>post2</p>
            </div>
            <div class="card-action">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}